// To be able to use math.div
@use "sass:math";

/* ====== COLOR PALETTE ====== */
$color-black: hsl(0deg, 0%, 0%);
$color-white: hsl(0deg, 0%, 100%);
$color-blue: hsl(215, 88%, 57%);
$color-green: hsl(152, 60%, 63%);
$color-red: hsl(6, 81%, 63%);
$color-grey-img: hsl(0, 7%, 76%);
$color-grey-searchbar: hsl(0, 0%, 90%);

$color-placeholder: hsl(0, 3%, 70%);

$color-error: hsl(354, 75%, 59%);

$color-logo: hsl(0, 58%, 56%);

/* ====== TYPOGRAPHY ====== */
$font-size-base: 1em;
$font-size-normal: 1rem;

/* ====== FONT WEIGHT ====== */
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* ====== FONT-FAMILY ====== */
$font-family-logo: 'DM Sans', sans-serif;
$font-family-title: 'Lato', sans-serif;
$font-family-ingredients: 'Lato', sans-serif;
$font-family-text: 'Roboto',
sans-serif;

/* ====== SPACING ====== */
$space-base: 8px;
$space-XS: 16px;
$space-S: 24px;
$space-M: 32px;
$space-L: 40px;
$space-XL: 48px;

/* ====== SIZES (HEIGHT, WIDTH) ====== */
$size-XXS: 8px;
$size-XS: 16px;
$size-S: 24px;
$size-M: 32px;
$size-L: 40px;
$size-XL: 48px;
$size-XXL: 72px;

/* ====== RADIUS ====== */

$radius-button: 0.2rem;
$radius-S: 5px;
$radius-M: 8px;
$radius-L: 16px

/* ====== BREAKPOINTS ====== */

// See in the file 'utils/_breakpoints.scss'