.recipes {
  .recipe {
    [data-image] {
      background: $color-grey-img;
      height: 200px;
    }

    [data-name] {
      font-family: $font-family-title;

      .card-title {
        font-size: $font-size-normal * 1.125;
      }
    }

    [data-time-container] {
      font-weight: $font-weight-bold;
    }

    [data-time] {
      margin-inline-start: $space-base;
      }

    .bi.bi-clock {
      font-size: $font-size-normal * 1.1;
    }
    .bi::before {
      font-weight: bold !important;
    }
    

    &__content {
      [data-ingredients] {
        font-family: $font-family-ingredients;
        font-size: $font-size-normal * 0.75;

        [data-ingredient] {
          font-weight: $font-weight-bold;
        }

        [data-unit] {
          margin-inline-start: $space-base * 0.2;
        }
      }

      [data-description] {
        font-family: $font-family-text;
        font-size: $font-size-normal * 0.75;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
  }
}
