.search {
  &__dropdowns {
    font-family: $font-family-ingredients;
    font-size: $font-size-normal * 1.125;
    .tags {
      .tag {
        background: $color-blue;
        width: fit-content;
        color: white;
        padding-inline: $space-base * 2;
        padding-block: $space-base;
        border-radius: $radius-button;
      }

      .bi-x-circle {
        margin-inline-start: $space-base * 1.5;
      }
    }

    .search__dropdown {
      .dropdown__input_wrapper {
        position: relative;
        z-index: 100;
      }

      .dropdown_toggle {
        white-space: nowrap;
      }

      // DROPDOWN INPUT
      .dropdown__input {

        &[data-ingredients-input],
        &[data-appliance-input],
        &[data-ustensils-input] {
          line-height: 1.5;
          font-size: $font-size-normal * 1.125;
          padding-inline: $space-base * 2;
          width: 100%;
          height: 50px;
          border-color: rgba(0, 0, 0, 0.15);
          border-block-end: transparent;
          text-align: left;

          @include media-breakpoint-up(sm) {
            width: 170px;
            height: 62px;
          }

          @include media-breakpoint-up(md) {
            width: 170px;
            height: 62px;
          }
        }

        &[data-ingredients-input][aria-expanded='true'],
        &[data-appliance-input][aria-expanded='true'],
        &[data-ustensils-input][aria-expanded='true'] {
          width: 100%;
          border-end-start-radius: 0;
          border-end-end-radius: 0;

          @include media-breakpoint-up(md) {
            width: 450px;
          }

          @include media-breakpoint-up(lg) {
            width: 550px;
          }
        }

        // Placeholder
        &[data-ingredients-input]::placeholder {
          @include customPlaceholder("ingredients");
        }

        &[data-appliance-input]::placeholder {
          @include customPlaceholder("appliance");
        }

        &[data-ustensils-input]::placeholder {
          @include customPlaceholder("ustensils");
        }

        &[data-input].placeholderColor::placeholder {
          color: $color-white;
        }
      }

      .arrowBox {
        position: absolute;
        cursor: pointer;
        display: inline-block;
        right: 0;
        top: 27%;
        padding-inline: 20px;
        z-index: 1000;
      }

      .arrow {
        border: solid $color-white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        z-index: 9999;
      }

      .arrow-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      .arrow-up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      & .dropdown__menu {
        // bootstrap's styles
        position: absolute;
        z-index: 100;
        display: none;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1rem;
        text-align: left;
        list-style: none;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;

        // custom styles
        height: 400px;
        width: 100%;
        border-block-start: none;
        overflow-y: auto;
        overflow-x: hidden;
        border-start-start-radius: 0;
        border-start-end-radius: 0;
        // transform: translate3d(0, 62px, 0) !important;

        @include media-breakpoint-up(md) {
          // position: absolute;
          height: 400px;
          width: 450px;
        }

        @include media-breakpoint-up(lg) {
          height: 400px;
          width: 550px;
        }
      }

      .btn__ingredients,
      .btn__ingredients__list {
        background: $color-blue;
      }

      .btn__appliance,
      .btn__appliance__list {
        background: $color-green;
      }

      .btn__ustensils,
      .btn__ustensils__list 
      {
        background: $color-red;
      }

      .show {
        display: block;
      }

      .btn:hover {
        color: $color-white;
      }

      .dropdown-item {
        display: inline-block;
        font-size: $font-size-normal * 1.125;
        font-family: $font-family-ingredients;
        color: $color-white;
        overflow: hidden;
      }

      .dropdown-item:hover {
        color: $color-grey-dropdown-items;
        border-radius: 3px;
      }
    }
  }
}
