.search {
  &__dropdowns {
    font-family: $font-family-ingredients;
    font-size: $font-size-normal * 1.125;
    .tags {
      .tag {
        background: $color-blue;
        width: fit-content;
        color: white;
        padding-inline: $space-base * 2;
        padding-block: $space-base;
        border-radius: $radius-button;
        margin-bottom: $space-base * 2;
      }

      .bi-x-circle {
        margin-inline-start: $space-base * 1.5;
      }
    }

    .dropdown {
      .btn {
        font-size: $font-size-normal * 1.125;
        margin-inline-end: $space-base * 1.5;
        padding-inline: $space-base * 2;
        width: 155px;
        height: 50px;

        @include media-breakpoint-up(md) {
          width: 170px;
          height: 60px;
        }
      }

      &-menu {
        height: 400px;
        width: 50%;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .btn__ingredients,
      .btn__ingredients__list,
      .btn__ingredients__list .form-control {
        background: $color-blue;
        color: $color-white;
      }

      .btn__appliance,
      .btn__appliance__list,
      .btn__appliance__list .form-control {
        background: $color-green;
        color: $color-white;
      }

      .btn__ustensils,
      .btn__ustensils__list,
      .btn__ustensils__list .form-control {
        background: $color-red;
        color: $color-white;
      }

      // DROPDOWN INPUT
      .dropdown__input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: $font-size-normal;
        font-weight: $font-weight-regular;
        line-height: 1.5;
        border-radius: 0.25rem;
        appearance: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &[data-ingredients-input] {
          background-color: $color-blue;
        }

        &[data-appliance-input] {
          background-color: $color-green;
        }

        &[data-ustensils-input] {
          background-color: $color-red;
        }

        &[data-ingredients-input],
        &[data-appliance-input],
        &[data-ustensils-input] {
          border: transparent;
        }

        // Placeholder
        &[data-ingredients-input]::placeholder {
          @include customPlaceholder("ingredients");
        }

        &[data-appliance-input]::placeholder {
          @include customPlaceholder("appliance");
        }

        &[data-ustensils-input]::placeholder {
          @include customPlaceholder("ustensils");
        }
      }

      .btn:hover {
        color: $color-white;
      }

      .dropdown-item {
        font-size: $font-size-normal * 1.125;
        font-family: $font-family-ingredients;
      }
    }
  }
}
