.search {
  &__bar {
    .form-control {
      background: $color-grey-searchbar;
      border: $color-grey-searchbar;
      height: $space-base * 7;
    }

    .form-control::placeholder {
      color: $color-placeholder;
    }

    .input-group-text {
      border: $color-grey-searchbar;
      background-color: $color-grey-searchbar;
      .bi::before {
        font-weight: $font-weight-bold !important;
      }
    }
  }
}